@model Service
@{
    string stringTitle = "Edit service";
    ViewBag.Title = stringTitle;
}
<style>
    button{
        color:black !important;
    }
</style>
<script src="https://cdn.tiny.cloud/1/nsbbn4veqgfm9bljguxq69hmj3642dkjwd3rifqs3s0i8i0h/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<div>
    <h2>
      @stringTitle  
    </h2>
    <div>
        <form asp-area="" asp-controller="Admin" asp-action="ServicesEdit" method="post" enctype="multipart/form-data">
            <input type="hidden"asp-for="Id" />
            <input type="hidden"asp-for="DateCreated"/>
            <input type="hidden"asp-for = "Photo"/> 
            
            <div asp-asp-validation-summary="All">
                <div class="div-box">
                    <select asp-for="ServiceCategoryId">
                        <option value="">...choose form a list...</option>
                        @foreach(ServiceCategory entity in ViewBag.ServiceCategories)
                        {
                            <option value="@entity.Id">@entity.Title</option>
                        }
                    </select>
                    <span asp-validation-for="ServiceCategoryId"></span>
                </div>
                <div class="div-box">
                    <label asp-for="Title"></label>
                    <input asp-for="Title"/>
                    <span asp-validation-for="Title"></span>
                </div>
                
                <div class="div-box">
                    <label asp-for="Type"></label>



                    <select asp-for="Type"asp-items="Html.GetEnumSelectList<ServiceTypeEnum>()"></select>
                    <span asp-validation-for="Type"></span>
                </div>

                <div class="div-box">
                    <label asp-for="DescriptionShort"></label>
                    <input asp-for="DescriptionShort"/>
                    <span asp-validation-for="DescriptionShort"></span>
                </div>

                <div class="div-box">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>

                <div class="div-box">
                    <label asp-for="Photo"></label>
                    <input type="file" name="titleImageFile" id="titleImageFile"/>
                    <div>
                        <img class="img-block" src="~/img/@Model.Photo"/>
                    </div>
                </div>
                <input type="submit" value="Save"/>
            </div>
        </form>
    </div>
    <script>
  tinymce.init({
    selector: 'textarea',
    plugins: [
      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
      'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
    ],
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
    automatic_uploads: true,
    images_upload_url: '/admin/SaveEditorImg',
    images_upload_reuse_filename: true,
    image_dimensions: false,
    convert_urls: false
  });
</script>
</div>