@inject IConfiguration config
@{
    AppConfig? appConfig = config.GetSection("Project").Get<AppConfig>(); 
}
    
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; @appConfig?.Company.CompanyName. All rights reserved</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>