                  

<div class="col-4 col-12-medium">
    <div id="sidebar">

            <section>
                <header class="major">
                    <h2>Welcome!</h2>
                </header>
                <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
                consequat etiam.</p>
                <footer>
                    <a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">Find out more</a>
                </footer>
            </section>
    </div>
</div>