@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
<div id="content">
        <article>
            <header class="major">
                <h2>
                    Welcome
                </h2>
                <p>
                    Building the Future, Restoring the Past
At Monolit Construction, we are dedicated to delivering high-quality, innovative, and sustainable building solutions.<br> With years of experience in the industry, we specialize in residential, commercial, and industrial construction, ensuring every project meets the highest standards of excellence.
                </p>
            </header>
            <span class="image featured"><img src="~/img/bg01.jpg" alt="welcome"/></span>
        </article>
    </div>
</div>
